body {
    color: #f0f0f0;
    background-color: #111111;
    font-family: "franklin-gothic-atf", Tahoma, sans-serif;
    margin: 0px;
}

header {
    padding: 0px 16px;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}